<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="/public/css/404.css"/>
    </head>
    <body>
        <div class="not-found-wrapper">
            <h1 class="not-found-title">404</h1>
            <h3 class="not-found-text">
                Sorry, page you are looking for is not found.
            </h2>
            <a href="/" class="back-home-link">
                <button class="back-home-btn">Back home</button>
            </a>
        </div>
    </body>
</html>