<div class="friends-tab-content" id="friends-search-tab-content">
    <p class="search-result-title">Search results</p>
    <div class="friends-search-wrapper" id="friends-search-wrapper">
        
    </div>
</div>