<div class="friends-tab-content" id="friends-request-tab-content">
    <div class="friends-request-wrapper" id="friends-request-wrapper">
        <!-- <div class="friend">
            <div class="friend-avatar">
                <img src="../public/images/Vijay.jpeg" class="friend-avatar-img"/>
                <div>
                    <h4 class="friend-avatar-name">Vijay Zayar Min Maung</h4>
                    <div class="friend-function-wrapper">
                        <p class="friend-function success-function">Accept</p>
                        <p class="friend-function danger-function">Delete</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>