<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/login.css"/>
        <link rel="stylesheet" href="/public/LineAwesome/css/line-awesome.min.css"/>
    </head>
    <body>
        <div class="login-wrapper">
            <h1 class="login-title">Log in to your account</h1>
            <div class="login-form">
                <div class="login-form-gp">
                    <i class="la la-user login-icon"></i>
                    <input type="text" placeholder="Email address" id="login-email"/>
                </div>
                <div class="login-form-gp">
                    <i class="la la-lock login-icon"></i>
                    <input type="password" placeholder="Password" id="login-password"/>
                </div>
                <p class="login-help-text" id="login-help-text">
                    
                </p>
                <!-- <div class="remember-me-box">
                    <input type="checkbox" id="remember-me"/>
                    <label for="remember-me">Remember me</label>
                </div> -->
                <button class="btn login-btn" id="login-submit">Log in</button>
            </div>
            <div class="create-account-box">
                <a href="/auth/forget_password" class="hightlight">Forgot password?</a>
                <span>Or</span>
                <p>Not a member? <a href="/signup" class="hightlight">Sign up now</a></p>
            </div>
        </div>
        <script type="module" src="/public/scripts/login.js"></script>
    </body>
</html>