<div class="friends-tab-content" id="my-friends-tab-content">
    <div class="my-friends-wrapper" id="my-friends-wrapper">
        <!-- <div class="friend">
            <div class="friend-avatar">
                <img src="../public/images/Vijay.jpeg" class="friend-avatar-img"/>
                <div>
                    <h4 class="friend-avatar-name">Vijay Zayar Min Maung</h4>
                    <div class="friend-function-wrapper">
                        <p class="friend-function success-function">
                            <i class="la la-hand-paper"></i>
                            Say Hi
                        </p>
                        <p class="friend-function danger-function">Unfriend</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>