<div class="side-nav">
    <!-- <i class="la la-comment chat-brand-icon"></i> -->
    <img src="<%=user.profilePath%>" class="nav-avatar-img" id="nav-avatar-img"/>
    <div class="menu-group">
        <a href="#chat" title="Chat" class="la la-comments menu-icon"></a>
        <a href="#profile" title="My profile" class="la la-user menu-icon"></a>
        <a href="#friends" title="Friends" class="la la-users menu-icon"></a>
        <!-- <a title="Setting" class="la la-cog menu-icon"></a> -->
    </div>
    <div class="logout-group">
        <i class="la la-sign-out logout-icon" title="Logout" id="logout-btn"></i>
    </div>
</div>