<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="public/css/login.css"/>
        <link rel="stylesheet" href="public/LineAwesome/css/line-awesome.min.css"/>
    </head>
    <body>
        <div class="login-wrapper">
            <h1 class="login-title">Create new account</h1>
            <div class="login-form">
                <div class="login-form-gp">
                    <i class="la la-envelope login-icon"></i>
                    <input type="email" placeholder="Email address" id="signup-email"/>
                </div>
                <div class="login-form-gp">
                    <i class="la la-user login-icon"></i>
                    <input type="text" placeholder="Full name" id="signup-name"/>
                </div>
                <div class="login-form-gp">
                    <i class="la la-lock login-icon"></i>
                    <input type="password" placeholder="Password" id="signup-password"/>
                </div>
                <div class="login-form-gp">
                    <i class="la la-lock login-icon"></i>
                    <input type="password" placeholder="Confirm password" id="signup-c-password"/>
                </div>
                <p class="login-help-text" id="signup-help-text">
                    
                </p>
                <button class="btn login-btn" id="signup-submit">Sign up</button>
            </div>
        </div>
        <script type="module" src="/public/scripts/signup.js"></script>
    </body>
</html>