<div class="image-popup-container" id="image-popup-container">
    <div class="image-popup-wrapper">
        <i class="la la-times popup-image-close" id="popup-image-close"></i>
        <img class="image-popup-img" id="image-popup-img"/>
    </div>
</div>