<div class="modal-container" id="modal">
    <div class="modal">
        <div class="modal-header">
            <h2 class="modal-heading" id="modal-heading">Alert</h2>
        </div>
        <div class="modal-body">
            <p class="modal-text" id="modal-text">
                modal body
            </p>
        </div>
        <div class="modal-footer">
            <button class="modal-btn modal-cancel-btn" id="modal-cancel">Cancel</button>
            <button class="modal-btn modal-ok-btn" id="modal-ok">Ok</button>
        </div>
    </div>
</div>